<HTML>
<HEAD>
	<header>
    <%- include ("../partials/header") %>
</header>
</HEAD>
<BODY>

	<fieldset class=mainwin align="center">
		<h2>Welcome to Better Budget!</h2>
		<p>To view, create, or delete budgets or budget pools, click "Budgets" or "Budget Pools" under the Budgets tab.</p>
		<p>To view or pay line items or add, update, or remove accounts, click "View Line Items", "Pay Line Item", or "Accounts" under the Line Items tab.</p>
		<p>To sign out, click "Sign Out" under the Accounts tab.</p>
	</fieldset>

</BODY>
</HTML>