<link rel="stylesheet" type="text/css" href="/css/style.css">
<div class=topbar>
	<img align="left" src="/img/betterbudget.png" alt="Better Budget" style="width:213px; height:63px; padding-left: 10px; padding-top: 10px;">
</div>
<nav class="navbar">
	<span class="dropdown">
	  <button class="dropbtn"><b>Home</b></button>
		  <span class="dropdown-content" align="left">
		    <a href="./index">Home</a>
		  </span>
	</span>

	<span class="dropdown">
	  <button class="dropbtn"><b>Budgets</b></button>
		  <span class="dropdown-content" align="left">
		    <a href="./budgets">Budgets</a>
		    <a href="./pools">Budget Pools</a>
		  </span>
	</span>

	<span class="dropdown">
		<button class="dropbtn"><b>Line Items</b></button>
			<span class="dropdown-content" align="left">
				<a href="./line">View Line Items</a>
				<a href="./pay">Pay Line Item</a>
				<a href="./account">Accounts</a>
			</span>
	</span>

	<span class="dropdown">
		<button class="dropbtn"><b>Developer</b></button>
			<span class="dropdown-content" align="left">
				<a href="./logs">View System Logs</a>
			</span>
	</span>

	<span class="dropdown">
		<button class="dropbtn"><b>Account</b></button>
			<span class="dropdown-content" align="left">
				<a href="./logout"><b>Sign Out</b></a>
			</span>
	</span>
</nav>
